<script id="createItemModal-template" type="text/template">
  <div id="createItemModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">new item in {{ name }}</h3>
    </div>
    <div class="modal-form-container">
      <!-- createItemForm goes here -->
    </div>
  </div>
</script>

<script id="createItemForm-template" type="text/template">
  <form class="form-horizontal">
    <div class="modal-body">
      {{#each fields}}
      <div class="control-group">
        <label class="control-label" for="input{{ name }}">{{ name }}</label>
        <div class="controls">
          <input type="text" name="{{ name }}" id="input{{ name }}" placeholder="Enter {{ type }}...">
        </div>
      </div>
      {{/each}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</script>
