extends layout

block content
  .navbar
    .navbar-inner
      a.brand minot
      .navbar-form.pull-left
        input(type="text", placeholder="Search")
        button.btn
          .icon-search 

  .container-fluid
    #main

  include listpage.html

  script(src="javascripts/vendor/jquery.js")
  script(src="bootstrap/js/bootstrap.js")
  script(src="javascripts/vendor/underscore.js")
  script(src="javascripts/vendor/backbone.js")
  script(src="javascripts/app.js")
  script(src="javascripts/lists.js")
  script(src="javascripts/items.js")
  script(src="javascripts/pages.js")

  script
    App.start()
