extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="javascripts/vendor/jquery.js")
  script(src="javascripts/vendor/underscore.js")
  script(src="javascripts/vendor/backbone.js")
  script(src="javascripts/document.js")
