extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="javascripts/vendor/jquery.js")
  script(src="javascripts/vendor/underscore.js")
  script(src="javascripts/vendor/backbone.js")
  script(src="javascripts/app.js")
  script(src="javascripts/lists.js")
  script(src="javascripts/items.js")

  script
    App.start()
