extends layout

block content
  .navbar
    .navbar-inner
      a(href="/").brand minot
      .navbar-form.pull-left(style="display:none")
        input(type="text", placeholder="Search (not implemented)")
        button.btn
          .icon-search 

  .container-fluid
    #main

  include catalogpage.html
  include listpage.html
  include createItem.html
  include createList.html
  include editColumnModal.html
  include itemViewModal.html

  script(src="javascripts/vendor/jquery.js")
  script(src="bootstrap/js/bootstrap.js")
  script(src="javascripts/vendor/bootstrap-modalmanager.js")
  script(src="javascripts/vendor/bootstrap-modal.js")
  script(src="javascripts/vendor/underscore.js")
  script(src="javascripts/vendor/backbone.js")
  script(src="javascripts/vendor/handlebars.js")
  script(src="javascripts/app.js")
  script(src="javascripts/lists.js")
  script(src="javascripts/items.js")
  script(src="javascripts/page.list.js")
  script(src="javascripts/page.catalog.js")

  script
    App.start()
