doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-modal.css')
    link(rel='stylesheet', href='/bootstrap-editable/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/stylesheets/minot.css')
  body
    block content

    footer
      .container
        hr
        p Minot Copyright &copy; 2012 Ryan Yeske &middot; 
          a(href="http://github.com/rcy/minot") code
