doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-modal.css')
    link(rel='stylesheet', href='/stylesheets/minot.css')
  body
    block content
