<script id="listpage-template" type="text/template">
  <div class="row-fluid">
    <h1>{{name}}</h1>

    <!-- actions pulldown -->
    <button class="btn btn-primary create"><i class="icon-plus-sign"></i> Add</button>
    <button class="btn pull-right add-column"><i class="icon-plus"></i> add column</button>
  </div>

  <br />
  <div class="row-fluid">
    <table class="table table-hover table-condensed table-striped table-bordered">
      <thead>
        {{#each fields}}
        <th>
          <div class="btn-group">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#" title="{{id}}">
              {{name}}
            </a>
            <ul class="dropdown-menu">
              <a href="#" class="destroy-column" data-id="{{id}}"><i class="icon-trash"></i> delete column</a>
            </ul>
          </div>
        </th>
        {{/each}}
      </thead>
      <tbody class="items">
      </tbody>
    </table>

    <button class="btn btn-link pull-right destroy"><i class="icon-trash"></i> delete this list</button>

  </div>
</script>
