<script id="listpage-template" type="text/template">
  <div class="row">
    <h1><span class="editable list-name">{{name}}</span></h1>
  </div>

  <div class="row">
    <button class="btn btn-success create">New Item</button>

    <div class="btn-group pull-right">
      <button class="btn btn dropdown-toggle" data-toggle="dropdown">
        <i class="icon-cog"></i>&nbsp;
        <b class="caret"></b>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" class="add-column">Add Column</a></li>
        <li class="divider"></li>
        <li><a href="#" class="destroy-list">Delete this list</a></li>
      </ul>
    </div>

  </div>

  <br />

  <div class="row">


    <table class="table table-hover table-condensed table-striped table-bordered">
      <thead>
        {{#each fields}}
        <th>
          <span class="editable column-name" data-name="{{id}}">{{name}}</span>
          <div class="btn-group pull-right">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#" title="{{id}}">
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" class="rename-column" data-id="{{id}}">Rename Column</a></li>
              <li class="divider"></li>
              <li><a href="#" class="destroy-column" data-id="{{id}}">Delete Column</a></li>
            </ul>
          </div>
        </th>
        {{/each}}
      </thead>
      <tbody class="items">
      </tbody>
    </table>

  </div>
</script>
