<script id="listpage-template" type="text/template">
  <div class="row-fluid">
    <div class="span2">
      <h2 style="margin-top: 0em"><%= name %></h2>
      <button class="btn create"><i class="icon-plus-sign"></i> New</button>
    </div>
    <div class="span10">
      <table class="table table-hover table-condensed table-striped">
        <thead>
          <% _.each(fields, function(f) { %>
          <th>
            <%= f.name %>
          </th>
          <% }) %>
        </thead>
        <tbody id="items">
        </tbody>
      </table>
    </div>
  </div>
</script>
