extends layout

block content
  .container(style="padding-top: 50px")
    .row
      .span6.offset2.well
        h1(style="text-align:center")= title
        hr
        form.form.form-horizontal(method="post")
          .control-group.error
            .controls
              .help-block= message
  
          .control-group.email
            label.control-label(for="inputEmail") Email
            .controls
              input(type="email", id="inputEmail", name="email" )

          .control-group.password
            label.control-label(for="inputPassword") Password
            .controls
              input(type="password", id="inputPassword", name="password")

          .control-group
            .controls
              button.btn.btn-success(type="submit") Login

          hr

          .or-login.pull-right Don't have an account?
            a.btn.btn-link(href="/signup") Sign Up

  script(src="javascripts/vendor/jquery.js")
  script(src="bootstrap/js/bootstrap.js")
  script(src="javascripts/signup.js")
  script
    $("#inputEmail").focus()