<script id="user-nav" type="text/template">
  {{#if email}}
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="http://gravatar.com/avatar/{{gravatar_hash}}" width="24" height="24" />
        {{email}}<i class="icon-caret-down"></i>
      </a>
      <ul class="dropdown-menu pull-right">
        <!-- <li> -->
        <!--   <a href="/profile" class="view-profile"><i class="icon-user"></i> View Profile</a> -->
        <!-- </li> -->
        <!-- <li class="divider"></li> -->
        <li>
          <a href="/logout" class="sign-out"><i class="icon-signout"></i> Sign Out</span></a>
        </li>
      </ul>
    </li>
  </ul>
  {{else}}
  <a href="/signup" class="btn btn-success btn-small sign-up">Sign Up</a>
  <a href="/login" class="btn btn-info btn-small sign-in">Log In</a>
  {{/if}}
</script>


<script id="sign-in-modal-template" type="text/template">
  <div id="sign-in-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Minot Log In</h3>
    </div>

    <div class="modal-body">
      <form>
        <fieldset>
          <label for="email">Email</label>
          <input type="email" name="email" />
          <label for="password">Password</label>
          <input type="password" name="password" />
        </fieldset>
        <fieldset>
          <button class="btn btn-info">Login</button>
        </fieldset>
      </form>
    </div>

    <div class="modal-footer">
      <p>New here? <a href="/signup" class="register">Create an Account</a></p>
    </div>
  </div>
</script>
