table.no-lines td {
    border-top: none
}

tbody.items:hover {
    cursor: pointer;
}

.editable:hover {
    cursor: pointer;
}
th.column a.column-pulldown{
    color:#fff;
}
th.column:hover a.column-pulldown {
    color:#0088cc; /* use less and compile this based on bootstrap link color */
}
